// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid {
  border:30px;
  width:100%
}

.letters {
  background: darkslateblue;
  color: white;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
}
.form {
  width:100%;
}

.word {
  width:100%;
}